body {
  margin: 0;
  padding: 0;
}

/* 清除日期选择器中的默认头部区域 */
.el-picker-panel .el-date-range-picker__time-header {
  display: none;
}

/* 统一处理-分页居中 */
.pagination {
  text-align: center;
  margin: 30px auto;
}
